@{
    ViewBag.Title = "Home Page";
}

@Html.C1().InputColor().Id("foreColor").OnClientValueChanged("foreColorChanged")
@Html.C1().InputColor().Id("backColor").OnClientValueChanged("backColorChanged")

<div contenteditable="true" id="editor" style="height:300px;border:1px solid black;">
    Some content.<br />
    Some Content.
</div>

<script>
    var editor = document.getElementById("editor");
    execCommand('styleWithCSS', true);
    
    function execCommand(cmd, param) {
        editor.focus();
        document.execCommand(cmd, false, param);
    }
    let selection = null;
    editor.addEventListener("blur", saveSelection);
    editor.addEventListener("focus", function () {
        restoreSelection(selection)
    });
    function saveSelection() {
        let sel = window.getSelection();
        selection = sel && sel.rangeCount ? sel.getRangeAt(0) : null;
    }
    function restoreSelection(range) {
        if (range) {
            let sel = window.getSelection();
            sel.removeAllRanges();
            sel.addRange(range);
        }
    }
    function foreColorChanged(s, e) {
        execCommand('foreColor', s.value);
    }
    function backColorChanged(s, e) {
        execCommand('backColor', s.value);
    }
</script>